{% extends "main/index_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Home</title>
  </head>

  <body>
    {% block front_content %}

    <div class="page-wrapper">
      {% include 'main/includes/navbar.html' %}
      <!-- End .header -->

      <main class="main">
        <div class="intro-section bg-lighter pt-5 pb-6">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0"
                >
                  <div
                    class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                    data-toggle="owl"
                    data-owl-options='{
                                        "nav": false, 
                                        "responsive": {
                                            "768": {
                                                "nav": true
                                            }
                                        }
                                    }'
                  >
                    <div class="intro-slide">
                      <figure class="slide-image">
                        <picture>
                          <source
                            media="(max-width: 480px)"
                            srcset="{% static 'front/assets/images/slider/slide-1.jpg' %}"
                          />
                          <img
                            src="{% static 'front/assets/images/slider/slide-1.jpg' %}"
                            alt="Image Desc"
                          />
                        </picture>
                      </figure>
                      <!-- End .slide-image -->

                      <div class="intro-content">
                        <h3 class="intro-subtitle">Topsale Collection</h3>
                        <!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Living Room<br />Furniture</h1>
                        <!-- End .intro-title -->

                        <a href="category.html" class="btn btn-outline-white">
                          <span>SHOP NOW</span>
                          <i class="icon-long-arrow-right"></i>
                        </a>
                      </div>
                      <!-- End .intro-content -->
                    </div>
                    <!-- End .intro-slide -->

                    <div class="intro-slide">
                      <figure class="slide-image">
                        <picture>
                          <source
                            media="(max-width: 480px)"
                            srcset="{% static 'front/assets/images/slider/slide-2.jpg' %}"
                          />
                          <img
                            src="{% static 'front/assets/images/slider/slide-2.jpg' %}"
                            alt="Image Desc"
                          />
                        </picture>
                      </figure>
                      <!-- End .slide-image -->

                      <div class="intro-content">
                        <h3 class="intro-subtitle">News and Inspiration</h3>
                        <!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">New Arrivals</h1>
                        <!-- End .intro-title -->

                        <a href="category.html" class="btn btn-outline-white">
                          <span>SHOP NOW</span>
                          <i class="icon-long-arrow-right"></i>
                        </a>
                      </div>
                      <!-- End .intro-content -->
                    </div>
                    <!-- End .intro-slide -->
                  </div>
                  <!-- End .intro-slider owl-carousel owl-simple -->

                  <span class="slider-loader"></span
                  ><!-- End .slider-loader -->
                </div>
                <!-- End .intro-slider-container -->
              </div>
              <!-- End .col-lg-12 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .bg-lighter -->

        <div class="mb-6"></div>
        <!-- End .mb-6 -->

        {% if categories %}
        <div class="container">
          <div class="heading heading-center mb-6">
            <h2 class="title">Recent Arrivals</h2>
            <!-- End .title -->
            <ul
              class="nav nav-pills nav-border-anim justify-content-center"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="list_all"
                  data-toggle="tab"
                  href="#list_all"
                  role="tab"
                  aria-controls="list_all_tab"
                  aria-selected="true"
                >
                  All
                </a>
              </li>
              {% for data in categories %}
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="list_{{data.id}}"
                  data-toggle="tab"
                  href="#list_{{data.id}}"
                  role="tab"
                  aria-controls="list_{{data.id}}"
                  aria-selected="false"
                >
                  {{data.category_name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End .heading -->

          <div class="tab-content">
            <div
              class="tab-pane p-0 fade show active"
              id="list_all"
              role="tabpanel"
              aria-labelledby="list_all_tab"
            >
              <div class="products">
                <div class="row justify-content-center">
                  {% for category in categories %}
                  <!-- -->
                  {% for product in category.products.all %}
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-11 mt-v3 text-center">
                      <figure class="product-media">
                        <a href="product.html">
                          {% if product.details.first.picture %}
                          <img
                            src="{{product.details.first.picture.url}}"
                            alt="Product image"
                            class="product-image"
                          />
                          {% else %}
                          <img
                            src=""
                            alt="Product image"
                            class="product-image"
                          />
                          {% endif %}
                        </a>
                      </figure>
                      <!-- End .product-media -->

                      <div class="product-body">
                        <h3 class="product-title">
                          <a href="product.html">{{product.product_name}}</a>
                        </h3>
                        <!-- End .product-title -->
                        <div class="product-price">Frw {{product.price}}</div>
                        <!-- End .product-price -->
                      </div>
                      <!-- End .product-body -->
                      <div class="product-action">
                        <a href="#" class="btn-product btn-cart"
                          ><span>add to cart</span></a
                        >
                      </div>
                      <!-- End .product-action -->
                    </div>
                    <!-- End .product -->
                  </div>
                  {% endfor %}
                  <!-- -->
                  {% endfor %}
                </div>
                <!-- End .row -->
              </div>
              <!-- End .products -->
            </div>
            <!-- .End .tab-pane -->
            {% for category in categories %}
            <div
              class="tab-pane p-0 fade show active"
              id="list_{{category.id}}"
              role="tabpanel"
              aria-labelledby="list_{{category.id}}_tab"
            >
              <div class="products">
                <div class="row justify-content-center">
                  {% for product in category.products.all %}
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-11 mt-v3 text-center">
                      <figure class="product-media">
                        <a href="product.html">
                          {% if product.details.first.picture %}
                          <img
                            src="{{product.details.first.picture.url}}"
                            alt="Product image"
                            class="product-image"
                          />
                          {% else %}
                          <img
                            src=""
                            alt="Product image"
                            class="product-image"
                          />
                          {% endif %}
                        </a>
                      </figure>
                      <!-- End .product-media -->

                      <div class="product-body">
                        <h3 class="product-title">
                          <a href="product.html">{{product.product_name}}</a>
                        </h3>
                        <!-- End .product-title -->
                        <div class="product-price">Frw {{product.price}}</div>
                        <!-- End .product-price -->
                      </div>
                      <!-- End .product-body -->
                      <div class="product-action">
                        <a href="#" class="btn-product btn-cart"
                          ><span>add to cart</span></a
                        >
                      </div>
                      <!-- End .product-action -->
                    </div>
                    <!-- End .product -->
                  </div>
                  <!-- End .col-sm-6 col-md-4 col-lg-3 -->
                  {% endfor %}
                </div>
                <!-- End .row -->
              </div>
              <!-- End .products -->
            </div>
            <!-- .End .tab-pane -->
            {% endfor %}
          </div>
          <!-- End .tab-content -->
          <div class="more-container text-center">
            <a href="#" class="btn btn-outline-darker btn-more"
              ><span>Load more products</span
              ><i class="icon-long-arrow-down"></i
            ></a>
          </div>
          <!-- End .more-container -->
        </div>
        <!-- End .container -->
        {% endif %}

        <div
          class="cta cta-display bg-image pt-4 pb-4"
          style="
            background-image: url('{%static 'front/assets/images/backgrounds/cta/bg-6.jpg' %}');
          "
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-9 col-xl-8">
                <div
                  class="row no-gutters flex-column flex-sm-row align-items-sm-center"
                >
                  <div class="col">
                    <h3 class="cta-title text-white">Sign Up & Get 10% Off</h3>
                    <!-- End .cta-title -->
                    <p class="cta-desc text-white">
                      Molla presents the best in interior design
                    </p>
                    <!-- End .cta-desc -->
                  </div>
                  <!-- End .col -->

                  <div class="col-auto">
                    <a href="login.html" class="btn btn-outline-white"
                      ><span>SIGN UP</span><i class="icon-long-arrow-right"></i
                    ></a>
                  </div>
                  <!-- End .col-auto -->
                </div>
                <!-- End .row no-gutters -->
              </div>
              <!-- End .col-md-10 col-lg-9 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .cta -->
      </main>
      <!-- End .main -->

      {% include 'main/includes/footer.html' %}
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    {% include 'main/includes/mobile_menu.html' %}
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    {% include 'main/includes/login_register.html' %}
    <!-- End .modal -->

    {% endblock %}
  </body>
</html>
